@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#remember{
    margin: 15px;
}